{% extends "master.html" %}

{% block title %}
Listado de Edificios
{% endblock %}

{% block content %}
<table id="tabla_datos">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Ciudad</th>
      <th>Tipo</th>      
      <th>Número Total de Cuartos del Edificio</th>
      <th>Costo Total de Departamentos en el Edificio</th>
      <th>Listado de Departamentos</th>
    </tr>
  </thead>

  {% for e in edificios %}
  <tr>
    <td> {{e.nombre}} </td>
    <td> {{e.direccion}} </td>
    <td> {{e.ciudad}} </td>
    <td> {{e.tipo}} </td>
    <td> {{e.get_cuartos}} </td>
    <td> {{e.get_costoT}} </td>
    <td>
      <ul>
        {% for d in e.edificioRN.all %}
        <li>
          <span>{{d}} - [<a href="{% url 'editarDepartamento' d.id %}">editar</a>]
            <a href="{% url 'eliminarDepartamento' d.id %}" onclick="return confirm('¿Está seguro de la eliminación?')">
              eliminar</a>
          </span>
        </li>
        {% endfor %}
      </ul>
      [<a href="{% url 'crearDepartamento' e.id%}">+Departamento</a>]
    </td>
    <td>
      <a href="{% url 'editarEdificio' e.id %}">editar</a> <br>
      <a href="{% url 'eliminarEdificio' e.id %}" onclick="return confirm('¿Está seguro de la eliminación?')">
        eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready(function () {
    $('#tabla_datos').DataTable();
  });
</script>
{% endblock %}